.cards-container {
  flex: 1 0 60%;
  background-color: rgba(230, 230, 230, 1);
}
.filters {
  display: flex;
  justify-content: space-around;
  background-color: rgba(200, 200, 200, 1);
}

.vertical-center {
  display: flex;
  align-items: center;
}

.header {
  padding: 0 50px;
}
