<div class="about">
  <div class="container">

    <div class="about-banner">
      <div class="description">
        <h2>About Our Team</h2>
      </div>
    </div>

    <img src="https://d2aj9sy12tbpym.cloudfront.net/assets/about/index/Oval4-92590a128c9bf316e3f03732b848ff24cf92978231003b2f961b0fe2f4d7fb11.svg" alt="Oval4">

    <div class="container">
      <p>
        Founded in 1986, PetSmart, Inc. is the largest specialty pet retailer of services and solutions for the lifetime needs of pets. At PetSmart, we love pets, and we believe pets make us better people. Every day with every connection, PetSmart’s passionate associates help bring pet parents closer to their pets so they can live more fulfilled lives. This vision impacts everything we do for our customers, the way we support our associates, and how we give back to our communities.
      </p>

      <p>
        In May 2017, PetSmart acquired Chewy.com, a leading online retailer of pet food and products in the U.S., which operates as an independent subsidiary.
      </p>
    </div>
  </div>
</div>
