<div class="home" style="background-image: url('https://images.unsplash.com/photo-1463704131914-97e5aaa0e339?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d12adee123a799fa89d53be848b8481&auto=format&fit=crop&w=750&q=80');">
  <div class="home-content">
    <h1>Sensei</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class="wrap">
      <div class="search">
        <input type="text" class="searchTerm" placeholder="What are you looking for?">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
      </button>
      </div>
    </div>
  </div>
</div>
