

<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      MAKE YOU
    </p>

    <ul class="content__container__list">
      <li class="content__container__list__item">HEALTHY</li>
      <li class="content__container__list__item">BEAUTIFUL</li>
      <li class="content__container__list__item">POWERFUL</li>
      <li class="content__container__list__item">ACTIVE</li>
    </ul>

    <div class="text">With multi lessons series</div>

    <form class="action" action="">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

  </div>
</div>


<div class="container text-description">
  <h1>New Lessons</h1>
  <h3>With multi lessons series</h3>
</div>
