<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://picsum.photos/900/600/?random');">
  <div class="banner-content">
    <h1><%= @lesson.name %></h1>
    <p>by Name of the Instructor </p>
  </div>
</div>
